# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log

# misc
.DS_Store

# umi
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/.umi
/.umi-production
/.umi-test
/dist
/.mfsu
